.protanopia{
	-webkit-filter: url('#protanopia') !important;	
	filter: url('#protanopia') !important;
	color-interpolation-filters:sRGB !important;	
}

.deuteranopia{
	-webkit-filter: url('#protanopia') !important;
	filter: url('#deuteranopia') !important;
	color-interpolation-filters:sRGB !important;
}

.tritanopia{
	-webkit-filter: url('tritanopia') !important;
	filter: url('tritanopia') !important;
	color-interpolation-filters:sRGB !important;
}