#svgfilter{
	/*color-interpolation-filters:sRGB;*/
}

.normal{
}

.protanopia{
	-webkit-filter: url('#protanopia') !important;	
	filter: url('#protanopia') !important;
	color-interpolation-filters:sRGB !important;	
}

.deuteranopia{
	-webkit-filter: url('#deuteranopia') !important;
	filter: url('#deuteranopia') !important;
	color-interpolation-filters:sRGB !important;
}